@font-face {
  font-family: "RobotoSlab-Bold";
  src: url("../fonts/RobotoSlab-Bold.svg#RobotoSlab-Bold") format("svg"),
    url("../fonts/RobotoSlab-Bold.woff") format("woff"),
    url("../fonts/RobotoSlab-Bold.ttf") format("truetype");
}
body {
  font-family: "RobotoSlab-Bold";
}
button {
  display: block;
}
.head1 {
  background: url("../images/bg.png");
  height: 850px;
  background-repeat: no-repeat;
  background-position-x: center;
}
.head {
  background-color: #ffffff;
  color: #324950;
}

.nav1 {
  padding-top: 20px;
}
.search {
  display: block;
  background: transparent;
  border: none;
  border-bottom: solid 1px;
  background-image: url("../images/ico_search.svg");
  background-position-x: right;
  background-repeat: no-repeat;
  background-position-y: center;
  width: 350px;
}
.navbar-nav {
  margin-left: auto;
  padding-top: 20px;
  font-size: 18px;
}

.title1 {
  padding-top: 229px;
  color: #735440;
  text-align: center;
  font-size: 48px;
}
.more {
  background: #57984c;
  color: white;
  padding: 16px 31px;
  border: none;
  margin: auto;
  margin-top: 60px;
}
.Products {
  padding-top: 35px;
  height: 170px;
  text-align: center;
}
.Products a {
  margin: 3%;
  color: white;
}
.Vision-Mission {
  color: #324950;
  background: #e5e5e5;
  background-image: url("../images/Union.svg");
  background-repeat: no-repeat;
  background-position-x: center;
}

.Vision-Mission h1 {
  padding-top: 100px;
  font-size: 64px;
}

.Vision-Mission p {
  font-size: 20px;
  color: #4d646b;
  margin-top: 31px;
}
.Main-activ {
  color: #324950;
  background: #ededed;
}
.title2 {
  padding-top: 70px;
  color: #324950;
  text-align: center;
  font-size: 64px;
}
.footer {
  background: #2d3f45;
}
.footer li{
    list-style-type: none;
}
.footer2 {
  background: #324950;
}

.title3 {
  padding-top: 18px;
  color: #b9b9b9;
  text-align: center;
  font-size: 14px;
  height: 50px;
}
.footer-row__item {
  color: #324950;
  margin: 21px 13.8px;
}
.navbar {
  color: #2d3f45;
  padding-bottom: 0;
}
.line {
  width: 180px;
  height: 1px;
  background-color: #57984c;
  margin: auto;
}
.itd_circle {
  margin: 0 auto 15px;
  display: flex;
  justify-items: center;
  align-items: center;
  padding: 0px 30px;
}
h5 {
  color: #57984c;
  font-size: 24px;
}
.Main-activ p {
  width: 280px;
  margin: auto;
  text-align: center;
  padding-bottom: 90px;
}
.main_t {
  background-color: #FCF0F0;
  color: #324950;
}
.main_t h1 {
  color: #324950;
  font-size: 44px;
  line-height: 142.7%;
  padding: 40px 0px;
}
.main_t p {
  color: #3c4a4e;
  font-size: 17px;  

}

.par1{
  padding-top: 40px;
}
.columns1 {
  background: #fffafa;
  padding-top: 50px;
  padding-left: 20px;
  padding-bottom: 50px;
  
}
.columns1 h3{
  font-size: 20px;
}
.line-r {
  margin-top: 23px;
  margin-bottom: 0px;
  padding-bottom: 40px;
  background-image: url(../images/line_r.svg);
  background-repeat: no-repeat;
  padding-left:26px;
}
.line-r2 {
  margin-top: 40px;
  margin-bottom: 0px;
  background-image: url(../images/line_r2.svg);
  background-repeat: no-repeat;
  padding-left:26px;
  padding-bottom: 40px;
  padding-top: 6px;
}
.line1 {
  width: auto;
  height: 1px;
  background-color: #324950;
  margin: 15px 0;
}
.col_t{
  padding-right: 45px;
}
.col_tomat{
  background-color: #ffffff;
  color: #57984c;
  padding-bottom: 5px;
}
.col_tomat h3{
  color: #57984c;
  font-size: 16px;
text-align: center;
}
.col_tomat h5{
  text-align: center; 
  font-size: 20px;
}
.a-n{
  text-decoration: none;
}
.main1002{
  background-color: #E5E5E5;
  background-image: url(../images/Uniont.svg);
  background-repeat: no-repeat;
  background-position-x: center;
}
.arow{    
  background-image: url(../images/Arrow1.svg);
  background-repeat: no-repeat;
  background-position-y: center;
  padding-left:40px;
  padding-bottom: 18px;
  padding-top: 18px;
}
.arow h5{
  font-size: 14px;
  margin-bottom: auto;
}
.main_tx{
padding-right: 44px;
padding-bottom:40px ;
}
.main_tx h1{
  font-size: 54px;
  color: #324950;
}
.main_tx h2{
  font-size: 54px;
  color: #57984C;
  padding-bottom: 40px;
}
.main_tr {
  color: #CF2333;
  margin-bottom: 40px;
}
.main_tr h1{
  font-size: 30px;
}
.tom_ch{
  font-size: 20px;
  color: #57984C;
  padding-bottom: 12px;
  border-bottom: solid 1px;
  width: 183px;
}
.tomato_li{ 
  color: #324950;
  font-size: 17px;
  padding-bottom: 168px;
}
.tomato_li h1{
  font-size: 20px;
  color: #57984C;
  padding-bottom: 12px;
  border-bottom: solid 1px;
  width: 183px;
}
.i_circle{  
  color: #57984c;
  margin-top: 30px;
  border: 2px solid;
  border-radius: 60px;
  display: inline-flex;
padding: 10px 28px;
}
.i_circle p{
  margin: auto;
  padding-left: 20px;
}
.tomato_li h5{
  font-size: 20px;
  color: #57984C;
  padding-bottom: 12px;
  border-bottom: solid 1px;
  width: 183px;
}
.tomato_li li::marker{
  color: #57984c;
}
.tomato_li ul{
  padding-left: 20px;
}
